footer{
    margin: 0;
    padding: 0;
    color: var(--second-text-color);
    margin-top: 10px;
    padding: 5px;
}
footer p{
    font-size: 1rem;
}
.pagination .current:hover, .pagination a:hover {
    background-color: #f8f9fa;
}
.pagination .current, .pagination a {
    outline: 0;
    border: 0;
    background-color: transparent;
    font-size: .9rem;
    padding: .5rem .75rem;
    line-height: 1.25;
    border-radius: .125rem;
    transition: var(--post-bkg-color) .2s ease-in-out;
}
.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    width: 100%;
    display: flex;
    justify-content: center;
}