#index-banner .typed-cursor{
    font-size: 2rem;
    line-height: 1.5em;
    color: var(--first-text-color);
}
#index-banner h3{
    font-size: 2rem;
    line-height: 1.5em;
    color: var(--first-text-color);
}

.index-card{
    box-shadow: 2px 2px 6px var(--shadow-color);
    padding: 28px;
    margin-bottom: 38px;
    padding-top: 5px; 
}

.index-card{
    a{
        color: var(--second-text-color);
    }
    a:hover{
        color: var(--second-link-color);
    }
}
.index-card:hover{
    box-shadow: 2px 2px 6px var(--shadow-hover-color);
}
.post-card-main{
    max-width: 920px;
    position: relative;
    width: 100%;
}
.post-card-center{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.index-pin{
    position: absolute;
    top: 10px;
    right: 12px;
    font-size: 1.2rem;
    transform: rotate(45deg);
    color: var(--third-text-color);
}
.post-metas{
    color: var(--third-text-color);
}