.tag-page-main time{
    color: var(--third-text-color)
}
.tag-page-main span {
    color: var(--second-text-color)
}
#page-main{
    margin: 0;
    padding: 0;
    margin-top: 54px
}
#index-banner{
    z-index: 0;
    top: 0px;
    width: 100%;
    position: relative;
    overflow: hidden;
    cursor: default;
    overflow-wrap: break-word;
    margin: 0!important;
}


.tag-page-main{
    z-index: 3;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.tagcloud{
    color: var(--first-text-color)
    margin-top: 1rem !important;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    transition: all .3s ease;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    border-radius: .5rem;
    background-color: var(--post-bkg-color);
}

.list-page-main{
    z-index: 3;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.list-group{
    color: var(--first-text-color)
    margin-top: 1rem !important;
    position: relative;
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    transition: all .3s ease;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    border-radius: .5rem;
    background-color: var(--post-bkg-color);
}
.list-group-item {
    border: 0;
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
}
.category-list-content{
    color: var(--first-text-color)
    margin-top: 1rem !important;
    position: relative;
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    transition: all .3s ease;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    border-radius: .5rem;
    background-color: var(--post-bkg-color);
}
.category-list-content ul{
    list-style: none;
}
.all-category-list-count{
    float: right;
}
.all-category-list-count:before{
    content: "( ";
}
.all-category-list-count:after{
    content: " )"
}

.links-page-m{
    z-index: 3;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.links-page{
    position: relative;
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 6px var(--shadow-color);
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 30px;
    border-radius: 0.5rem;
    background-color: var(--post-bkg-color);
    color: var(--second-text-color);
}
.links-card{
    box-shadow: none;
    min-width: 33%;
    background-color: transparent;
    border: 0;
}
.links-card:hover{
    background-color: var(--sec-shadow);
}
.links-card-body{
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 0.3rem;
    display: block;
    width: 100%;
    height: 100%;
}
.links-card-content {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 3.5rem;
}
.link-avatar {
    flex: none;
    width: 3rem;
    height: 3rem;
    margin-right: 0.75rem;
    object-fit: cover;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.link-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    object-fit: cover;
}
.link-text {
    flex: 1;
    display: grid;
    flex-direction: column;
}
.link-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--first-text-color);
    font-weight: bold;
}
.link-intro {
    max-height: 2rem;
    font-size: 0.85rem;
    line-height: 1.2;
    color: var(--first-text-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
}
/*
.cloading{
    height 100%
    width: 100%
    z-index: 99999
    background-color:  #424952;
    position fixed
    top 0
    bottom 0
    left 0
    right 0 
    display: flex;
    align-items: center;
    justify-content: center;
}
.cloading .note{
    margin: 10px;
}
.loading{
.spinner {
  animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
}
*/


#miracle-comments { text-align: left; } #miracle-comments p{ font-size: 1rem; } #article ul li{ font-size: 1.1rem; }

.collapse{
    background-color: var(--page-bkg-color)
    padding: 15px
        box-shadow: 2px 2px 6px var(--shadow-color);
}
.collapse .content{
    display: none;
    margin-top: 20px;
}
.collapse .header{
    cursor pointer
}
.collapse .header .icon{
    font-size: 0.9rem
    float right
    margin-top: 3px;
}
.collapse .header .up {
    transform:rotate(180deg);
    -moz-transform:rotate(180deg); /* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
}
.p-dot {
    margin: 0 .2rem;
}
.p-dot:after{
    content: "·"
}