
h1{
    font-size: 1.9rem;
}
h2{
    font-size: 1.75rem;
}
h3{
    font-size: 1.55rem;
}
h4{
    font-size: 1.45rem;
}
h5{
    font-size: 1.35rem;
}
h6{
    font-size: 1.25rem;
}
p{
    font-size: 1.05rem;
}
@media (max-width: 500px){
    h1{
        font-size: 1.8rem;
    }
    h2{
        font-size: 1.6rem;
    }
    h3{
        font-size: 1.5rem;
    }
    h4{
        font-size: 1.4rem;
    }
    h5{
        font-size: 1.3rem;
    }
    h6{
        font-size: 1.2rem;
    }
    p{
        font-size: 1.05rem;
    }
}
#page-banner{
    word-break:break-all;
    // filter: brightness(.8);
}

#page-banner h3{
    font-size: 2rem;
    line-height: 1.5em;
    color: var(--first-text-color);
}
.slogan-white{
    color: #fff!important;
}
@media (max-width: 425px){
    #article,#post-meta,#miracle-comments,.tagcloud,.list-group,.category-list-content{
        width: 100%!important;
        margin-left: 10px!important;
        margin-right: 10px!important;

    }
    
}
@media (min-width: 768px){
    #article,#post-meta,#miracle-comments,.tagcloud,.list-group,.category-list-content{
        max-width: 720px;
    }
}
@media (min-width: 992px){
    #article,#post-meta,#miracle-comments,.tagcloud,.list-group,.category-list-content{
        max-width: 960px;
    }
}


#article{
    position: relative;
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 6px var(--shadow-color);
    padding: 30px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 30px;
    border-radius: 0.5rem;
    background-color: var(--post-bkg-color);
    color: var(--second-text-color);
}
#post-meta-m{
    z-index: 3;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
#post-meta{
    text-align: center;
    position: relative;
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 6px var(--shadow-color);
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    border-radius: 0.5rem;
    background-color: var(--post-bkg-color);
}
#post-meta{
    color: var(--second-text-color);
    margin-top: 1rem!important;
}
.article-m{
    z-index: 3;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}
.ml-10{
    margin-left: 10px;
}
.meta-icon{
    font-size: 0.9rem!important;
}
#miracle-comments{
    text-align: center;
    position: relative;
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 6px var(--shadow-color);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    border-radius: 0.5rem;
    background-color: var(--post-bkg-color);
    color: var(--second-text-color)
}
.comments{
    background-color: var(--page-bkg-color);
    z-index: 3;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
#article{
    blockquote{
        color: var(--post-sec-text-color);
        padding: 0 1em;
        border-left: .25em solid #dfe2e5;
        margin: 0;
    }
    figure{
        margin: 0;
    }
    pre{
        overflow: auto;
    }
    img{
        max-width: 90%;
        margin: 1.5rem auto;
        display: block;
        box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
        border-radius: 3px;
    }
    table{
        display: block;
        width: 100%;
        overflow: auto;
        border-spacing: 0;
        border-collapse: collapse;
        color: #2c3e50;
    }
    table th{
        font-weight: 600;
    }
    table th,table td{
        padding: 6px 13px;
        border: 1px solid #dfe2e5;
    }
    table tr{
        background-color: #fff;
        border-top: 1px solid #c6cbd1;
    }
    table tr:nth-child(2n) {
        background-color: #f6f8fa;
    }
    pre,table,ul,blockquote,details,dl,ol,p{
        margin-top: 0;
        margin-bottom: 16px;
    }
    hr {
        height: 0.2em;
        margin: 2rem 0;
        background-color: #e1e4e8;
        padding: 0;
        border: 0;
        margin: 24px 0;
        border-top: 1px solid rgba(0,0,0,.1);
    }
}




