.search-result__title{
    border-left: 3px solid #0d47a1;
    color: var(--first-text-color)
    background-color: transparent;
    font-weight: bolder!important;
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    width: 100%;
    text-align: inherit;
}
.search-result__content{
    color: var(--third-text-color)
    padding: .3rem 1.25rem;
}
.search-result__item{
    padding-top: 20px;
}
.search-form #search-input {
    width: 100%;
    outline: 0;
    border: 0;
    background-color: transparent;
}
.search-form .search-input {
    flex: 1 1 auto;
    padding: .15rem .35rem .15rem .35rem;

    background-color: transparent;
}
.search-form {
    display: flex;
    justify-content: flex-start;
    border: .5px solid #dbdbdb;
    border-radius: 4px 0 0 4px;
}
.search-form .search-button {
    border: none
    background-color: transparent;
}
.search-form .search-button svg{
    color: var(--second-text-color)
}
.search-form #search-button {
    padding: 5px;
    outline: 0;
    border: 0;
    background-color: transparent;
    color: var(--second-text-color);
}
#search-input{
    font: inherit;
    margin: 0;
    overflow: visible;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: var(--second-text-color)
}