
/* 设定背景颜色 */

body{
    background-color: #3b3b3b; // #232323
}
a{
    color: #1589e9;
}
a:hover{
    color: #30a9de;
}
.c-nav{
    background-color: #3b3b3c;
    h1,.btnImg{
        color: #E4E4E4!important;
    }
    ul li a{
        color: #E4E4E4;
    }
}
#typed,#index-slogan,.typed-cursor{
    color: #ddd!important;
}
.index-header a{
    color:  #c4c6c9!important;
}
.post-metas,.post-metas a,.index-excerpt a{
    color: #a7a9ad;
}
.post-meta,#article{
    background-color: #3b3b3c!important;
    transition: all 0s ease!important;
}
.post-meta h3{
    color: #c4c6c9!important;
}
.post-meta-label,#post-meta-m .post-meta{
    color: #a7a9ad;
}
#article{
    color: #c4c6c9;
}
footer{
    color: #a7a9ad;
}
.comments{
    background-color: #3b3b3c;
}
img{
    filter: brightness(.8);
}