
    <div class="tag-page-main">
        <div class="category-list-content">
            <%- list_categories(site.categories, {
                class: 'all-category'
            }) %>
        </div>
    </div>