<div id="index-banner" class="text-center middle-center">
    <div class="banner-text">
        <h3 id="index-slogan">
            <%- theme.index.banner_slogan %>
        </h3>
    </h3>
    </div>
</div>