<%
var banner_img = page.banner_img
%>

<div id="post-meta-m">
    <div class="post-meta" id="post-meta">
        <h3><%= page.title %></h3>
    </div>
</div>
<div class="article-m">
    <div id="article">
        <%- page.content %>
    </div>
</div>
<% if(page.comment) { %>
    <!-- Comments -->
    <div class="comments">
        <div id="miracle-comments">
        <% var type = '_partial/comments/' + theme.comment.type %>
        <%- partial(type) %>
        </div>
    </div>
<% } %>



