<div class="modal fade" id="modalSearch">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" id="searchDocument">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold"><%= __('search.title') %></h4>
        
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <input type="text" id="local-search-input" class="form-control validate" placeholder="<%= __('search.keyword') %>">
        </div>
        <div class="list-group-m">
          <div class="list-group" id="local-search-result">
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
<script src="/js/search.min.js"></script>
<script>
  (function () {
      var path = "<%- url_for(theme.search.path) || '/search.xml' %>";
      var inputArea = $("#local-search-input");
      searchFunc(path, 'local-search-input', 'local-search-result');
  })();
</script>