html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
nav{
    display: none;
}
.text-center{
    text-align: center!important;
}
.middle-center{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}
/* Page Style */
#page-main{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
#index-banner{
    z-index: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    cursor: default;
    overflow-wrap: break-word;
}

/* 
---
index style
--- 
*/

#index-banner h1{
    font-size: 4rem;
    line-height: 1.85em;
}
#index-banner h3{
    font-size: 2rem;
    line-height: 1.5em;
    font-family: 'Noto Sans SC', sans-serif;
}