/*!
_________________________________________________
|                                               |
| ##   ## # #####    ##    ####  #      ######  |
| # # # # # #    #  #  #  #    # #      #       |
| #  #  # # #    # #    # #      #      #####   |
| #     # # #####  ###### #      #      #       |
| #     # # #   #  #    # #    # #      #       |
| #     # # #    # #    #  ####  ###### ######  |
|                                               |
|       Thank you for using Miracle theme !     |
|              Author: HiFun Team               |
|                 License : MIT                 |
|_______________________________________________|
*/

/* Global */
html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body{
    background-color: var(--page-bkg-color);
    color: var(--second-text-color)
}
.text-center{
    text-align: center!important;
}
.middle-center{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}

/* Page */
@import '_includes/page'


/* Home */
@import '_includes/home'

/* Post */
@import '_includes/post'



/* Footer */
@import '_includes/footer'

/* Search */

@import '_includes/search'

/* Rewrite */
@import '_includes/rewrite'



