<footer class="text-center">
    
    <p><%- theme.global.footer.content %></p>
    <p>Powered by <a href="https://hexo.io" target="_blank">Hexo</a> & <a href="https://github.com/hifun-team/hexo-theme-miracle" target="_blank">Miracle</a></p>
</footer>
<!-- SCRIPTS -->
<%- partial('_partial/scripts.ejs') %>

