
<%- partial('_partial/plugins/analytics.ejs') %>
<%- partial('_partial/page-scripts.ejs') %>

<% if (theme.post.fancybox.enable && (is_page() || is_post())){ %>
    <script>
    setTimeout(() => {
        $(".markdown-body img").addClass("ImageBox");
        $(function(){$(".ImageBox").click(function(){$("body").append('<div class="image-box-plugin"><img src="'+$(this).attr("data-srcset")+'"></div>');var imgW=$(this).width(),imgH=$(this).height(),scrW=document.body.clientWidth,scrH=window.screen.availHeight;var newW=$(this).width(),newH=$(this).height(),scale=imgW/imgH;if(imgW>scrW){newW=scrW;newH=newW/scale;console.log(newH);console.log(scrH);$(".image-box-plugin img").css({"height":""});$(".image-box-plugin img").css({"width":newW});if(newH>scrH){newH=scrH;newW=newH*scale;$(".image-box-plugin img").css({"width":""});$(".image-box-plugin img").css({"height":newH})}}else{if(imgH>scrH){newH=scrH;newW=newH*scale;$(".image-box-plugin img").css({"width":""});$(".image-box-plugin img").css({"height":newH});if(newW>scrW){newW=scrW;newH=newW/scale;$(".image-box-plugin img").css({"height":""});$(".image-box-plugin img").css({"width":newW})}}}$(".image-box-plugin").css({"display":"table"});$(".image-box-plugin").bind("click",function(){$(this).remove()})})});
    },0);
    </script>
<% } %>

<% if (config.lazyload.enable && (is_page() || is_post())){ %>
    <script>
'use strict'

    
var io = new IntersectionObserver(function (entries) {
    entries.forEach(function (entry) {
        if (entry.isIntersecting) { 
            var img = entry.target;
            img.srcset = img.getAttribute('data-srcset');
            img.className += ' loaded'
            io.unobserve(img);
        }
    });
});
    
query('.lazyload-img').forEach(function (item) {
    io.observe(item);
});
    </script>
<% } %>
<% if (is_post() && theme.post.toc.enable && page.toc !== false){ %>
    <script>
        $(".toc-btn").click(function(){
            if ($('.post-toc').html()){
                $(".post-toc").toggleClass("display-inline");
            }
        });
        if (!$('.post-toc').html()){
            $('#toc-btn').css("display","none")
        }
    </script>
<% } %>

<%- partial('_partial/plugins/mermaid.ejs') %>
<% if (theme.global.web_analytics.busuanzi.enable || theme.post.views.enable){ %>
    <script>
        setTimeout(() => {
            loadScript("<%- theme.static_prefix.busuanzi %>busuanzi.pure.mini.js")
        },0);
    </script>
<% } %>
