:root{
    --shadow-color: rgba(0,0,0,0.2);
    --shadow-hover-color: rgba(0,0,0,0.28);
    --first-text-color: #ddd;
    --second-text-color: #c4c6c9;
    --third-text-color: #a7a9ad;
    --default-text-color: #505050;
    --default-link-color: #1589e9;
    --link-color: #000000;
    --second-link-color: #30a9de;
    --post-bkg-color: #3b3b3c;
    --page-bkg-color: #3b3b3b;
    --nav-bkg-color: #3b3b3c;
    --nav-a-hover-color: #3498db;
    --post-sec-text-color: #a7a9ad;
}